langchain==0.3.0
langchain-core==0.3.63
langchain-text-splitters==0.3.8
langgraph==0.2.70
langgraph-checkpoint==2.1.2
langgraph-sdk==0.1.74
matplotlib==3.10.8
numpy==1.26.4
ollama==0.6.1
pandas==2.3.3
scipy==1.16.3
